.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
}

.elem {
  /* border-radius: 8px; */
  overflow: hidden;
  max-width: 200px;
  max-height: 150px;
  border: 2px solid #e91e63;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Отступы внутри */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.elem:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: alias;
}

.elem img {
  /* border-radius: 8px; */
  min-height: 120px;
  max-height: 120px;
}
